body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.container {
    width: 400px;
    padding: 20px;
    background-color: #ffffff39;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:1px solid #fff; 
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #1e9aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
p.error {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}